@model List<HoneyDoList.Domain.Entities.Task>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<ul>
    @*@foreach (var task in Model)
    {
        <li>
            @task.Name
        </li>
    }*@
    <li class="task-item task-item1">
        <div>
            <p><strong>This is the task item</strong></p>
            <p><span class="task-id">Task Item # 123</span>  | <span class="task-rank">Task Rank: 1</span> | <span class="task-date">10/12/2014</span></p>
        </div>
    </li>
    <li class="task-item task-item2">
        <div>
            <p><strong>This is the task item</strong></p>
            <p><span class="task-id">Task Item # 123</span>  | <span class="task-rank">Task Rank: 2</span> | <span class="task-date">10/12/2014</span></p>
        </div>
    </li>
    <li class="task-item task-item3">
        <div>
            <p><strong>This is the task item</strong></p>
            <p><span class="task-id">Task Item # 123</span>  | <span class="task-rank">Task Rank: 3</span> | <span class="task-date">10/12/2014</span></p>
        </div>
    </li>
</ul>
